---
layout: category
title: "# Collective Play"
permalink: /collective-play/index.html
description: "swish swish rub"
---

<h1>Collective Play</h1>
{% for category in site.categories %}
  {% if category[0] == 'collective-play' %}

    {% assign pages_list = category[1] %}
    {% for post in pages_list reversed %}
      <div>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
      </div>
    {% endfor %}
    {% assign pages_list = nil %}
  {% endif %}
{% endfor %}
