---
layout: category
title: "# Physical Computing"
permalink: /pcom/index.html
description: "BEEP BOOP"
---

{% for category in site.categories %}
  {% if category[0] == 'itp-pcom' %}
    <h1>Physical Computing</h1>

    {% assign pages_list = category[1] %}
    {% for post in pages_list reversed %}
      <div>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
      </div>
    {% endfor %}
    {% assign pages_list = nil %}
  {% endif %}
{% endfor %}
