---
layout: category
title: "# Subtraction"
permalink: /subtraction/index.html
description: "ratatatatatatatat!"
---

<h1>Subtraction</h1>
{% for category in site.categories %}
  {% if category[0] == 'subtraction' %}

    {% assign pages_list = category[1] %}
    {% for post in pages_list reversed %}
      <div>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <span class="date">{{ post.date | date: "%B %-d, %Y"  }}</span>
      </div>
    {% endfor %}
    {% assign pages_list = nil %}
  {% endif %}
{% endfor %}
