<section class="comments">

  <!-- Start static comments -->
  <div class="js-comments">
    {% if site.data.comments[page.slug] %}
      <h4 class="page__comments-title">{{ site.data.ui-text[site.locale].comments_title | default: "Comments" }}</h4>
      {% assign comments = site.data.comments[page.slug] | sort %}

      {% for comment in comments %}
        {% assign email = comment[1].email %}
        {% assign name = comment[1].name %}
        {% assign url = comment[1].url %}
        {% assign date = comment[1].date %}
        {% assign message = comment[1].message %}
        {% include comment.html index=forloop.index email=email name=name url=url date=date message=message %}
      {% endfor %}
    {% endif %}
  </div>
  <!-- End static comments -->
</section>
