---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
    <body>
        <div id="canvas-background"></div>

        {% include svg-icons.html %}
        {% include header-default.html %}
            <section class="content">
                {{ content }}
            </section>
        {% include scripts.html %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.0/p5.js"></script>
        <script type="text/javascript" src="{{ "/js/background.js" | prepend: site.baseurl }}"></script>
    </body>
</html>
